{% extends "layout.html" %}
{% block outer %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="text-center">SimpleTM - Simple Translation Manager</h1>
    <p class="text-center">为文字游戏汉化工作提供专有名词翻译管理、同步功能</p>
    <div class="row justify-content-around">
      <div class="col d-flex justify-content-center" >
        <button type="button" class="primary-button" onclick="window.location.href='{{ url_for( 'login') }}';">登录</button>
      </div>
      <div class="col d-flex justify-content-center">
        <button type="button" class="primary-button" onclick="window.location.href='{{ url_for( 'signup') }}';">注册</button>
      </div>
    </div>
  </div>
</div>
<div class="container container-fluid">
  <div class="row align-items-center">
    <div class="col-lg">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="/static/imgs/1.png" alt="First slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    
  </div>
  <div class="row align-items-center">
    <br>
  </div>
</div>
{% endblock %}