{% extends "layout.html" %}
{% block body %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  <h2>{{ game }}</h2>
  <div style="display: none;" id="secret-user-block">{{ user }}</div>
  <div style="display: none;" id="secret-game-block">{{ game }}</div>
  <div style="display: none;" id="secret-token-block">{{ token }}</div>
  <div style="display: none;" id="secret-base-url-block">{{ base_url }}</div>
  <div id="info-div"></div>
  <table id="content-table">
    <thead>
        <tr>
            <th>原文</th>
            <th>译文</th>
        </tr>
    </thead>
    <tbody id="content-table-body">
    </tbody>
  </table>
  <div id="new-kv-form">
    <input id="input-key" name="input-key" type="text">
    <input  id="input-value" name="input-value" type="text">
    <button id="new-kv-submit" type="submit">添加</button>
  </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='project.js') }}"></script>
{% endblock %}