{% extends "layout.html" %}
{% block body %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  <h2>{{ game }}</h2>
  <div style="display: none;" id="secret-user-block">{{ user }}</div>
  <div style="display: none;" id="secret-game-block">{{ game }}</div>
  <div style="display: none;" id="secret-token-block">{{ token }}</div>
  <div style="display: none;" id="secret-base-url-block">{{ base_url }}</div>
  <div id="content-table"></div>
  <div id="form-info"></div>
  <div id="new-kv-form">
    <label for="input-key">原文</label>
    <input id="input-key" name="input-key" type="text">
    <label for="input-value">译文</label>
    <input  id="input-value" name="input-value" type="text">
    <button id="new-kv-submit" type="submit">添加</button>
  </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='project.js') }}"></script>
{% endblock %}